*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}

body{
    background-color: #141414;
}

h1{
    font-size: 194pt;
    line-height: 300pt;
    letter-spacing: -14px;
    font-family: "Inter", sans-serif;
    margin-left: 2.2vw;
    color: rgb(229, 229, 229);
    position: fixed;
    overflow: hidden;
    margin-top: 70vh;  
}

h1:hover{
    animation-play-state: paused;
}


.mastercontainer{
    margin-top: 18vh;
    position: absolute;
}

.nav{
    display: inline-block;
    padding-bottom: 30px;
}

.aa{
    font-size: 10pt;
    color: rgb(138, 138, 138);
    font-family: "Inter", sans-serif;
    margin-left: 7.5vw;
    text-decoration: none;
    cursor: pointer;
}

.aa:hover {
    color: rgb(223, 223, 223);
  }


.btn{
    border: none;
    outline: none;
    padding-left: 36px;
    background-color: Transparent;
    background-repeat:no-repeat;    
    color: rgb(138, 138, 138);
    font-size: 10pt;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.btn:hover {
    color: rgb(223, 223, 223);
  }
  
.btn.active {
    color: rgb(223, 223, 223);
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 34px;
    padding-bottom: 28px;
  }

.imagecontainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    column-gap: 34px;
    margin-left: 6vw;
    margin-bottom: 3vh;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.imagebox{
    height: 110px;
    width: 110px;
    animation: rotation 3s infinite linear;
    display: none;
}

.show{
    display: block;
}


@font-face{
    font-family: mac;
    src: url(BlueBoxSans-Bold.woff);
}

#macimg{
    background-color: none;
}

#macimg:active{
   scale: 120%;
   transition-duration: 0.7ms;
   transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mbody{
    background-color: #f5d78c;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mh1{
    color: #e7ab13;
    font-family: mac, sans-serif;
    font-size: 198pt;
}


@font-face{
    font-family: momo;
    src: url(bonzai.ttf);
}

#moimg{
    background-color: none;
}

#moimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.mmbody{
    background-color: #e4e7c1;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mmh1{
    color: #699524;
    font-family: momo, sans-serif;
    font-size: 230pt;
    letter-spacing: -10px;
    word-spacing: -55px;
    margin-top: 73vh;
}


@font-face{
    font-family: rice;
    src: url(itaewon.ttf);
}

#riceimg{
    background-color: none;
}

#riceimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.rbody{
    background-color: #fef9ea;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rh1{
    color: #9d8369;
    font-family: rice, sans-serif;
    font-size: 209pt;
    letter-spacing: -2px;
    margin-top: 72vh;
    margin-left: 2.5vw;
}

@font-face{
    font-family: lhasa;
    src: url(NotoSerifTibetan-Bold.ttf);
}

#lhimg{
    background-color: none;
}

#lhimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.lbody{
    background-color: #e0aa15;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lh1{
    color: #894f00;
    font-family: lhasa, sans-serif;
    font-size: 182pt;
    margin-top: 77.7vh;
}


#strawimg{
    background-color: none;
}

#strawimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.sbody{
    background-color: #f67578;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sh1{
    color: #c50e08;
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: "BUBL" 100;
    font-size: 185pt;
    letter-spacing: -2px;
    word-spacing: 1px;
    margin-top: 72.5vh;
    font-weight: lighter;
}


@font-face{
    font-family: pizza;
    src: url(MozaRegular-lgrBy.ttf);
}


#pizimg{
    background-color: none;
}

#pizimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.pbody{
    background-color: #f2c5c2;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ph1{
    color: #e45757;
    text-transform: uppercase;
    font-family: pizza, sans-serif;
    font-size: 143pt;
    letter-spacing: 0px;
    word-spacing: -10px;
    margin-top: 71vh;
    overflow: visible;
}


@font-face{
    font-family: glass;
    src: url(noodle-noodle-regular-400.otf);
}

#glassimg{
    background-color: none;
}

#glassimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.gbody{
    background-color: #f7f4f4;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gh1{
    color: #cdcac7;
    font-family: glass, sans-serif;
    font-size: 255pt;
    overflow: visible;
    margin-left: 2.5vw;
    margin-top: 71vh;
}


@font-face{
    font-family: sambar;
    src: url(Wubble-Regular.otf);
}

#samimg{
    background-color: none;
}

#samimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }


.sabody{
    background-color: #fda963;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sah1{
    color: #fa6517;
    font-family: sambar, sans-serif;
    font-weight: lighter;
    font-size: 207pt;
    letter-spacing: -9px;
}


@font-face{
    font-family: egg;
    src: url(SenseEggDisplay-6YpX6.ttf);
}

#eggimg{
    background-color: none;
}

#eggimg:active{
    scale: 120%;
    transition-duration: 0.7ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

.ebody{
    background-color: #fdf9f8;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.eh1{
    color: #e76e00;
    font-family: egg, sans-serif;
    font-weight: lighter;
    font-size: 185pt;
    margin-top: 71.5vh;
}




@media screen and (max-width: 414px) {
    
    h1{
        font-size: 71pt;
        line-height: 0.8;
        letter-spacing: -3px;
        font-family: "Inter", sans-serif;
        text-align: center;
        margin-right: 3vw;
        color: rgb(223, 223, 223);
        position: relative;
        margin-top: 7vh;
    }

    .mastercontainer{
        margin-top: 5vh;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .nav{
        display: inline-block;
        padding-bottom: 30px;
        margin-left: 3.6vw;
    }
    
    .aa{
        font-size: 8pt;
        color: rgb(138, 138, 138);
        font-family: "Inter", sans-serif;
        margin-left: 7.5vw;
        text-decoration: none;
        cursor: pointer;
    }

    .btn{
        border: none;
        outline: none;
        padding-left: 36px;
        background-color:#141414;
        color: rgb(138, 138, 138);
        font-size: 8pt;
        font-family: "Inter", sans-serif;
        cursor: pointer;
    }

    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        padding-bottom: 8px;
      }

    .imagecontainer{
        display: flex;
        flex-direction: column;
        width: 370px;
        margin-left: 7.1vw;
        column-gap: 10px;
        margin-bottom: -1vh;
        
    }
    
    .imagebox{
        scale: 0.8;
        animation: rotation 5s infinite linear;
        display: none;
    }

    .show{
        display: block;
    }



    .mh1{
        color: #e7ab13;
        font-family: mac, sans-serif;
        font-size: 70pt;
        margin-top: 7vh;
    }


}